body {
  font-family: "Arial", "Helvetica", sans-serif !important;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.calc-content {
  border: 1px solid black;
  padding: 20px 60px 20px 60px;
  margin: 0 auto;
}